body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-image: url("/Login Form/images/6587e57994f81a1711363009cf98a301.png"); */
    background-image: url("background.jpg");
    background-size: cover;
}
.logospace{
    padding: 20px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 400px;
    height: 600px;
    border-radius: 20px;
}
.container h1{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 0 0 0 0;
    border-bottom: 1px solid silver;
}
.container form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .radio{
    padding: 5px;
}
form .input_box{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 15px 0;
}
.input_box input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.input_box label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.input_box span::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #7c009e;
    transition: .5s;
  }
.input_box input:focus ~ label,
.input_box input:valid ~ label{
    top: -6px;
    color: #7c009e;
  } 
.input_box input:focus ~ span::before, 
.input_box input:valid ~ span::before{
  width: 100%;
}
input[type="submit"]{
    width: 100px;
    height: 50px;
    border: 1px solid;
    background: #7c009e;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: linear-gradient(to top,#b1049b,#a4049b,#6f049c);
    border-color: whitesmoke;
    transition: .5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.buttons{
    margin-left: 55px;
}
#proceedbutton{
    font-family: 'Poppins', sans-serif;
}
#cancelbutton{
    font-family: 'Poppins', sans-serif;
} 

