body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
}
#logo{
    padding: 20px;
}
#jstext{
    color: white;
    font-size: 65px;
    text-align: center;
}
button{
    width: 150px;
    height: 50px;
    margin-left: 600px;
    border: 1px solid;
    background: whitesmoke;
    border-radius: 25px;
    font-size: 18px;
    color: #7c009e;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
button:hover{
    color:#d30499;
    border-color: #f3eef5;
    transition: .5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
#loginbutton{
    font-family: 'Poppins', sans-serif;
}
